.Entry
  padding 1rem
  position relative
  height 100%
  .static-link
    display block
    background-color white
    font-size: 1.3rem
  +mobile_bp()
    padding 1rem 0.3rem

  .PostContent
    overflow auto
    position relative
    margin-top 1rem




.post
  position relative
  display flex
  border 1px solid #f0f0f0
  border-radius 4px
  padding 1rem
  margin-bottom 1rem
  &:nth-last-of-type(1)
    margin-bottom 0rem
  flex-direction row

  .full-container-link
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    z-index 10
  .image
    align-self center
  .details
    margin-left 1rem
    p, section
      margin 0
      padding-top 0.5rem
    .title
      font-size 1.5rem
      font-weight bold
    .tags
      .tag
        display inline-block
        margin-right 0.5rem
        color link_color
        &:before
          display inline-block
          content '\f02b'
          font normal normal normal 1rem FontAwesome
          margin-right 0.2rem
    .author
      .name
        text-align left
  +mobile_bp()
    flex-direction column
    .details
      margin-left 0
      .title
        text-align center



