.post

  position relative
  display flex
  border 1px solid #f0f0f0
  border-radius: 3px
  padding 1rem
  margin-bottom: 0.5rem
  .full-container-link
    position absolute
    top 0
    right 0
    left 0
    bottom 0
    z-index 10
  @media screen and (max-width: 480px)
    flex-direction column
    .details
      margin-left: 0
      .title
        text-align: center
  .image
    align-self center
  .details
    margin-left: 1rem
    p, section
      margin: 0
      padding-top 0.5rem
    .title
      font-size 1.5rem
      font-weight bold
    .tags
      .tag
        display inline-block
        margin-right 0.5rem
        color blue
        &:before
          display inline-block
          content: '*'
    .author
      .name
        text-align left




