body
  font-size 1.5rem
  font-family main-font
  color #333
  line-height 1.4
  text-align justify
  position relative
  +mobile_bp()
    font-size 1rem

*
  outline none
  box-sizing border-box

h1
  font-size: 2.25rem
  margin-top 0
  margin-bottom 0.6rem


h2
  font-size: 1.75rem
  margin-bottom 0.4rem

h3
  font-size 1.5rem
  margin-bottom 0.2rem

ul, li, p
    font-size 1.3rem
    +mobile_bp()
      font-size: 1rem

p
  margin-top 0
  -webkit-hypens auto
  -moz-hypens auto
  hyphens auto
  color #555
  margin-bottom 1rem
ul
  list-style square
  padding-left 1.2rem

ol
  padding-left 1.2rem

blockquote
  padding-left 1rem
  margin-left 0
  border-left 1px solid #ddd
  font-family quotes-font
  p
    position: relative
    &:before
      display inline
      content "“"
    &:after
      display inline
      position absolute
      content "”"


pre
  position relative
  max-width 100%
  overflow auto
  border 1px solid #f0f0f0
  border-radius: 3px
  padding: 0.5rem
  background white
  font-size: 1rem
  +mobile_bp()
    font-size 0.8rem
  code
    position relative
    max-width 100%
    font-family code-font



a
  color #FF6600
  text-decoration none
  font-family quotes-font
  &:hover
    text-decoration none
  img
    border none



h1 a, h1 a:hover
  color #333
  text-decoration none

hr
  color #ddd
  height 1px
  margin 2rem 0
  border-top solid 1px #ddd
  border-bottom none
  border-left 0
  border-right 0

p#heart
  font-size 2rem
  line-height 1
  text-align center
  color #ccc

.red
  color #B50000


horizontal_list()
  ul
    padding 0
    margin 0
    display flex
    flex-direction row
    list-style none
    flex 1
    justify-content space-around

    li
      flex 1
      text-align center


.App
  height 100vh
  display flex
  flex-wrap wrap
  justify-content center
  .NavigationBar
    border-bottom 1px solid #ddd
    padding 0.6rem 0
    background-color white
    position fixed
    top 0
    left 0
    right 0
    display flex
    align-items center
    justify-content center
    z-index 20
    font-family menus-font
    font-weight bold
    horizontal_list()
    a
      color: #333
      text-decoration: none
      &:hover
        color: #FF6600
        text-decoration: none




  .page
    margin 4rem 0 1rem 0
    padding 0 1rem
    width 800px
    +bp_800()
      width 100%
    .content
      position relative
      +mobile_bp()
        h1, h2, h3, h4, h5
          text-align: center

  .Footer
    align-self flex-end
    flex 1 100%
    font-size 1rem
    font-style italic
    border-top 1px solid #ddd
    padding 1rem 0
    background-color white
    bottom 0
    horizontal_list()
    ul
      flex-wrap wrap
      li
        display flex
        align-items center
        justify-content center
        img
          max-width 30px
          max-height 30px
      .logo
        a
          text-decoration: none
          color #333
          &:hover
            text-decoration none
          h4
            margin auto
            font-size 1.5rem

    +mobile_bp()
      ul
        li
          flex 1
        .logo
          flex 1 100%
          order -1
          margin-bottom 1rem









