font-size = 16px
main-font = 'Source Sans Pro', Arial, sans-serif
menus-font = "Vollkorn", Palatino, Times, serif
quotes-font = menus-font
code-font = "Consolas", "Menlo", "Monaco", monospace, serif
link_color = #2484c1
mobile_bp()
  @media screen and (max-width 480px)
    {block}
bp_700()
  @media screen and (max-width 699px)
    {block}
