font-size = 16px
main-font = 'Source Sans Pro', "Helvetica Neue", Helvetica, sans-serif
menus-font = 'Source Sans Pro', 'Arial', sans-serif
quotes-font = "Vollkorn", Palatino, Times, serif
code-font = "Source Code Pro", "Consolas", "Menlo", "Monaco", monospace, serif
link_color = #FF6600
mobile_bp()
  @media screen and (max-width 480px)
    {block}
bp_800()
  @media screen and (max-width 699px)
    {block}
